html,body{
    margin:0;
    padding:0;
}
body{
    min-height: 100vh;
    background: linear-gradient(to top left,red,rgb(3, 0, 201));
    display: flex;
    justify-content: center;
    align-items: center;
}